body {
	font-family: sans-serif;
	margin: 12px;
	max-width: 640px;
}

h1 {
	font-weight: normal;
}

input {
	font-size: 1em;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
}

button {
	background: #b770ff;
	color: white;
	padding: 10px 20px;
	border: none;
	font-size: 1em;
}