body {
	font-family: sans-serif;
	margin: 12px;
	max-width: 640px;
}

h1 {
	font-weight: normal;
}

input {
	font-size: 1em;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
}

button {
	background: #b770ff;
	color: white;
	padding: 10px 20px;
	border: none;
	font-size: 1em;
}

#url-bar {
	margin-top: 150px;
}

.link-row {
	margin-bottom: 0.6em;
}

a {
	padding: 0.6em 0;
	margin: -0.4em 0;
	display: inline-block;
}

.dim {
	color: #c5c;
}